appdirs==1.4.3
contextlib2==0.5.5
Django==1.11.1
django-appconf==1.0.2
django-cacheops==3.2.1
django-compressor==2.1.1
django-debug-toolbar==1.7
django-querycount==0.6.0
freezegun==0.3.8
funcy==1.7.3
packaging==16.8
psycopg2==2.7.1
PyJWT==1.5.0
pyparsing==2.2.0
PySocks==1.6.7
python-dateutil==2.6.0
pytz==2017.2
raven==6.0.0
rcssmin==1.0.6
redis==2.10.5
requests==2.14.2
rjsmin==1.0.12
six==1.10.0
sqlparse==0.2.3
twilio==6.3.0
uWSGI==2.0.15
