{% extends "base.html" %}
{% block content %}

<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>
                    All Reminders
                </h2>
            </div>
            <div class="body table-responsive">
                <table class="table table-bordered table-hover">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Title</th>
                        <th>Active</th>
                        <th>Notification Date</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for reminder in reminders %}
                        <tr>
                            <td>{{ reminder.id }}</td>
                            <td></td>
                             {% if reminder.active %}
                            <td> Yes </td>
                            {% else %}
                            <td> No</td>
                            {% endif %}
                            <td></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <ul class="pagination">
                    {% if reminders.has_previous %}
                    <li><a href="?page={{ reminders.previous_page_number }}">previous</a></li>
                    {% endif %}

                    {% if reminders.has_next %}
                    <li><a href="?page={{ reminders.next_page_number }}">next</a></li>
                    {% endif %}
                    <br>
                    Page {{ reminders.number }} of {{ reminders.paginator.num_pages }}.
                </ul>

            </div>
        </div>
    </div>
</div>




{% endblock %}