[Unit]
Description=uWSGI instance to serve Hiren-Reminder

[Service]
ExecStart=/bin/bash -c 'su prism; cd /home/prism/prod/Hiren-Reminder; source .env/bin/activate; uwsgi --enable-threads --ini hiren.ini'

[Install]
WantedBy=multi-user.target